.cabecalho{
    background-color: black;
    height: 50px;
    width: 1580px;
     
    color: aliceblue;
    font-size: 42px;
    border-radius: 90px;
 }
.body{
    background-image: url(../images/fundin.jpg);    
 }
 .imagem{
    margin-top: 5%;
      
 }

 
   
